.page {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--background);
}

.container {
	outline: var(--stroke) 0.25rem solid;
	border-radius: 0.5rem;
}
