@import url("/../../public/g1D1.PNG");


.ghost {
	stroke-width: 0;
	transform: translate(-9px, -9px);

	transition: x 0.1s, y 0.1s;
	fill:purple;
}


.red {
	
	fill: red;
	/* z-index: 100;
	opacity: 100;
	display: inline-block;
	position: absolute;  */
	/* content: url("/../../public/g1D1.PNG"); */
	/* background-image: url("/../../public/g1D1.PNG"); */
	/* background-repeat: no-repeat; */
	/* image-rendering: optimizeQuality; */
	/* list-style-image:image("/../styles/g1D1.PNG", pink); */
	/* background-image: image("/../../public/ghost_one/g1D1.PNG", blue); */

	/* fill:image("/../styles/g1D1.png"); */
	/* fill: image("/../styles/g1D1.PNG", blue); */
}

.pink {
	fill: pink;
}

.cyan {
	fill: cyan;
}

.orange {
	fill: orange;
}

.purpleOne {
	fill: purple;
}

.purpleTwo {
	fill: purple;
}

.weakened {
	fill: blue;
}
