@import url("/../../public/ghost_one/g1D1.png");

.ghost {
	stroke-width: 0;
	transform: translate(-9px, -9px);

	transition: x 0.1s, y 0.1s;
}

.red {
	fill: red;
}

.pink {
	fill: pink;
}

.cyan {
	fill: cyan;
}

.orange {
	fill: orange;
}

.purpleOne {
	fill: purple;
}

.purpleTwo {
	fill: purple;
}
.weakened {
	fill: blue;
}
