.pacman {
	stroke-width: 0;
	fill: yellow;

	transition: cx 0.1s, cy 0.1s;
}

.eye {
	fill: var(--background);
	
	transition: cx 0.1s, cy 0.1s;
}

.mouth {
	fill: var(--background);

	animation-name: eat;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;

	transition: cx 0.1s, cy 0.1s;
}

@keyframes eat {
	0% {
		clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
	}
	25% {
		clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
	}

	50% {
		clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
	}

	75% {
		clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
	}

	100% {
		clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
	}
}
